<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shiva.a7servicesideapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.7ServiceSideApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--    exported:true the service will be visible to other apps     -->
        <service
            android:name=".MyService"
            android:exported="true">
<!--    Implicit intents will not work from API 21 lollipop 5.0 and above java.lang.IllegalArgumentException: Service Intent must be explicit: Intent    -->
            <!--<intent-filter>
                <action android:name="sample.action.value" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </service>
    </application>

</manifest>